.dark-grey {
    color: rgb(38 ,40 ,41);
}
.tomato {
    color: rgb(234, 52, 31);
}
.cool-grey {
    color: rgb(143 ,149 ,152);
}
.pale-grey {
    background: rgb(238 ,241 ,243 );
}
.sky-blue {
    color: rgb(30 ,117 ,246);
}
